html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font: 1em/1.5 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}


body {
  font-size: 1.3em;
}

header {
  height: 100%;
  position: relative;
  background: url("office_blur.jpg") center no-repeat;
  background-size: cover;
}

/*header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}*/

/*header h1, header h2 {
  margin: 0;
}*/
/*header h2 {
  text-transform: uppercase;
  margin-top: -.5em;
}*/




h2.hgroup {
  text-align: center;
  color: yellow;
  opacity: .8;
}

header hgroup {
  display: inline-block;
  text-align: justify;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  color: #fff;
  border: 5px solid #fff;
  padding: 0em 1em;
  line-height: 1.2;
  font-size: 1em;
  background-color: rgba(0, 50, 20, 0.3);

}

/*#track{

}*/


/*header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:#333 center no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 0;  -webkit-filter: blur(4px);
}*/


/*banner{}
intro__mainimage{}
intro__blurb{}
intro_dropdown{}
strengths{}
strengths__mainimage{}
strengths__title{}
buttons{}
buttons__strengths{}
buttons__strengths__skills{}
buttons__strengths__traits{}
proven{}
proven__mainimage{}
proven__title{}
proven__input{}*/



/*.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}*/

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.1%;
}
.span_1_of_3 {
  width: 32.2%;
}

/*TOP FIXED HEADER*/
.top_bar {
  color: white;
  position: fixed;
  z-index: 2;
  width: 100%;
  text-transform: uppercase;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}


.top_bar_logo_insta {
  text-align: center;
  font: 1em "Silverfake";
  display: block;
  float:left;
  margin: 1% 0 0 1%;
}

.top_bar_logo_pitch {
    text-align: center;
    font: 2em "Average", serif;
}

.top_bar p {
  margin: .5em;
  font-size: 0.9em;
  text-align: center;
  letter-spacing: .1em;
  line-height: .8;
}
.top_bar a.text_link {
  text-decoration: underline;
  color: orange;
  }
h1.top_bar {
  font: black;
}

/*MAIN*/
.main-buttons {
  text-align: center;
}

h2.main-buttons {
  color: #342B56;
}

h3.main-buttons {
  color: #BFAC36;
}

/*BUTTON STYLE*/

li {
  list-style-type: none;
}

.section-buttons-a {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: #35292D;
  width: 20em;
    /* Font styles */
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.section-buttons-a:hover {
  background: #725963;
  color: white;
  font-weight: bold;
  text-decoration: none;
}


/*FONTS*/
@font-face {
    font-family: Average;
    src: url(fonts/Average-Regular.ttf);
}

@font-face {
    font-family: Silverfake;
    src: url(fonts/Silverfake.otf);
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_3_of_3 {
    width: 100%;
  }
  .span_2_of_3 {
    width: 100%;
  }
  .span_1_of_3 {
    width: 100%;
  }
}*/









